<md-dialog  ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{ vm.project }} 1234</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
		<md-input-container>
			<label>Project Name</label>
			<input ng-model="project.name" value="">
		</md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button class="md-raised md-default" ng-click="vm.hide()">
       Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="vm.save(project)">
       Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>